<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2016 Erwin Müller <erwin.mueller@deventm.org>

    This file is part of simplerest-owncloud-ocs.

    simplerest-owncloud-ocs is free software: you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as published by the
    Free Software Foundation, either version 3 of the License, or (at your
    option) any later version.

    simplerest-owncloud-ocs is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
    FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
    details.

    You should have received a copy of the GNU Lesser General Public License
    along with simplerest-owncloud-ocs. If not, see <http://www.gnu.org/licenses/>.

-->
<configuration>

	<appender name="TESTING_STYLE" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>[%level] %-4relative [%thread] %logger{0} - %msg%n%rEx{short}</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="TESTING_STYLE" />
	</root>

	<logger name="com.anrisoftware" level="INFO" />
	<logger name="com.anrisoftware.simplerest" level="ALL" />

</configuration>
